/*
 * Version: 2.1
 * File Description: Place here your custom CSS styles
 */

.hover-hide-container:hover > .hover-hide-item {
	display: none;
}

.mv-4 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.pl-26 {
	padding-left: 26px;
}

.pl-24 {
    padding-left: 24px;
}

.lh-2 {
	line-height: 1.5em;
	display: block;
}

::placeholder {
    font-style: italic;
    color: #ccc !important;
    opacity: 1;
}

.full-width {
	width: 100%;
}

.testimonial-video {
	display: block;
	text-decoration: none !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimonial-video span {
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 9999px;
    transition: all 0.2s ease-in-out;
}

.testimonial-video span:hover {
	background-color: rgba(255, 255, 255, 0.1);
}