/*
 * Version: 2.1
 * File Description: Place here your custom CSS styles
 */

.hover-hide-container:hover > .hover-hide-item {
	display: none;
}

.mv-4 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.mx-3 {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.pl-26 {
	padding-left: 26px;
}

.pl-24 {
    padding-left: 24px;
}

.lh-2 {
	line-height: 1.5em;
	display: block;
}

::placeholder {
    font-style: italic;
    color: #ccc !important;
    opacity: 1;
}

.full-width {
	width: 100%;
}

.testimonial-video {
	display: block;
	text-decoration: none !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimonial-video span {
    border: 1px white solid;
    padding: 5px 10px;
    border-radius: 9999px;
    transition: all 0.2s ease-in-out;
}

.testimonial-video span:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.text-glow {
	text-shadow:
		0    0    3px white,
		1px  0    3px white,
		1px  1px  3px white,
		0    1px  3px white,
		-1px 0    3px white,
		-1px -1px 3px white,
		0    -1px 3px white;
}

.text-bold {
	font-weight: bold;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.items-center {
	align-items: center;
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.position-initial {
	position: initial !important;
}

.scrollToTop {
	bottom: 15px;
	right: 15px;
}